:root{
  --color-gray-1: #707070;
  --color-gray-2: #888888;
  --color-gray-3: #E0E0E0;
  --color-white-1: #ffffff;
}
*{
  padding: 0px;
  margin: 0px;
}
a{
  text-decoration: none;
}
 

body{
  font-family: sans-serif;
}
section{
  padding: 80px 0px;
}

.container{
  width: 90%;
  margin: auto;
}

input[type="text"],
input[type="email"]{
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--color-gray-2);
  color: var(--color-gray-2);
  font-size: 16px;
  background-color: transparent;
  padding: 6px 0px 6px 6px
}
.btn-primary{
  font-size: 15px;border-radius: 5px;
  background-color: var(--color-white-1);
  border: 1px solid var(--color-gray-2);
  color: var(--color-gray-2);
  padding: 10px 25px;
  cursor: pointer;
  transition: .4s;
} 

.btn-primary:hover{
  background-color: var(--color-gray-2);
  color: var(--color-white-1);
} 
.home{
  background-color: var(--color-gray-1);
  color: var(--color-white-1);
  text-align: center;
}

.home h4{
  font-size: 20px;
}
.home h4 span{
  font-size: 40px;
  display: block;
  margin-bottom: 20px;
}
.home p{
  font-size: 14px;
  margin-bottom: 30px;
}
.home .nav{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.home .nav a{
  min-width: 120px;
  border: 2px solid var(--color-gray-1);
}

.help-algorithm{
  color: var(--color-gray-2);
  padding: 30px;
}
.help-algorithm .container{
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-gap: 30px;
}
.help-algorithm h2{
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 30px;
}
.help-algorithm p{
  text-align: justify;
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.help-algorithm label{
  display: block;
  margin-bottom: 8px;
}
.help-algorithm input{
  margin-bottom: 18px;
}


.help-algorithm .row:nth-child(4) label{
  display: inline;
  margin-right: 10px;
}
.products{
  color: var(--color-gray-1);
  padding: 30px;
}
.products h2.no-span {
  display: table;
  white-space: nowrap;
  margin-bottom: 30px;
}
.products h2::after,
.products h2::before{
  border-top: 2px solid var(--color-gray-1);
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 45%;
}
.products h2.no-span::before{
  right: 1.5%;
}
.products h2.no-span::after{
  left: 1.5%;
}
.products .card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.products .card-img{
  margin-bottom: 10px;
  background-color: #707070;
  width: 100%;
  height: 150px;
}
.products .card-title{
  font-size: 14px;
  margin-bottom: 10px;
}
.products .card-description{
  font-size: 12px;
  margin-bottom: 10px;
}
.products span{
  display: block;
  margin-bottom: 10px;
}
.products .price-total{
  font-size: 12px;
}
.products .price-off{
  font-size: 16px;
  font-weight: bold;
}
.products .price-installments{
  font-size: 12px;
}
.products .btn-buy{
  width: 100%;
}
.products .btn-more{
  display: block;
  margin: auto;
  margin-top: 50px;
}
.share{
  padding: 40px 0px;
  text-align: center;
  color: var(--color-gray-1);
}
.share h2.no-span {
  display: table;
  white-space: nowrap;
  margin-bottom: 30px;
}
.share h2::after,
.share h2::before{
  border-top: 2px solid var(--color-gray-1);
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 45%;
}
.share h2.no-span::before{
  right: 1.5%;
}
.share h2.no-span::after{
  left: 1.5%;
}
.share p{
  font-size: 14px;
  margin-bottom: 40px;
}
.share .form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.share .row{
  width: 40%;
  text-align: left;
}
.share label{
  display: block;
  margin-bottom: 8px;
}
.share input[type="submit"]{
  width: 100%;
}

.footer{
  padding: 30px 0px;
  background-color: var(--color-gray-1);
  color: var(--color-white-1);
  text-align: center;
  font-size: 12px;
}
@media (max-width: 460px) {
  .help-algorithm .container{
    display: grid;
    grid-template-columns: 1fr ;
  }
  .share .form{
    display: block;
  }
  .share .row{
    width: 100%;
  }
  .products .card{
    grid-template-columns: 1fr;
  }
}
@media (min-width: 461px) and (max-width: 650px) {
  .help-algorithm .container{
    display: grid;
    grid-template-columns: 1fr ;
  }
  .share .form{
    display: block;
  }
  .share .row{
    width: 100%;
  }
  .products .card{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 651px) and (max-width: 820px) {
  .help-algorithm .container{
    display: grid;
    grid-template-columns: 1fr ;
  }
  .share .form{
    display: block;
  }
  .share .row{
    width: 100%;
  }
  .products .card{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 990px) {
  .container{
    width: 960px;
  }
}